* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100vh;
  background-color: skyblue;
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #f00;
}
